<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About AggieAnomaly</title>
  </head>
  <body>

    {% extends "template.html" %}
    {% block content %}

    <h1> About AggieAnomaly </h1>
    <p> This GUI provides an interactive EDA for Seattle's biodomes climate sensor data provided by AWS.</p>
    <p> Featured are initial exploratory visualizations of the time series data and its components and our unsupervised
        approach for classifying anamolies.
    </p>

    {% endblock %}
    
  </body>
</html>